<!-- This is title {{title}}
<br>
My village ninja's name is {{ninjaName}}
<br>
<button type="button" (click)="ninjaconsole()">Console Ninja</button>
<br>
<button type="button" (click)="changeNinjaName('sakura')">Change Ninja Name to Sakura</button> -->

<!-- <span>มา 4 คนจ่าย 3</span>
<div>
    <input #priceBuffetInput type="text" placeholder="price" />
    <button type="button" (click)="calBuffet(priceBuffetInput.value)">
        คำนวณ
    </button>
    <div>คนละ {{ value }}</div>
</div> -->

<!-- <app-action-bar
  (numberChange)="testNumberChange($event)"
  [step]="5"
></app-action-bar>
<app-action-bar
  (numberChange)="testNumberChange($event)"
  [step]="10"
></app-action-bar>

<button type="button" (click)="testClick()">TestEventBinding</button> -->

<app-max-min-meter></app-max-min-meter>
